In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit,explode,flatten,concat_ws
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [2]:
data =[["1","Nitya","vignan"],
["2","Nitesh","vvit"],
["3","Neha","vvit"],
["4","Neerak","vignan"],
["1","Neekung","vignan"],
["5","Neelam","iit"]]
columns = ['ID','NAME','college']
dataframe = spark.createDataFrame(data,columns)
dataframe.show()

+---+-------+-------+
| ID|   NAME|college|
+---+-------+-------+
|  1|  Nitya| vignan|
|  2| Nitesh|   vvit|
|  3|   Neha|   vvit|
|  4| Neerak| vignan|
|  1|Neekung| vignan|
|  5| Neelam|    iit|
+---+-------+-------+

In [3]:
dataframe.count()

6

In [4]:
print(dataframe.where(dataframe.ID != '1').count())
print(dataframe.where(dataframe.college == 'vignan').count())
print(dataframe.where(dataframe.ID > 2).count())

4
3
3

In [6]:
import pyspark.sql.types as T
actor_data = [
("James", None, "Bond", "M", 6000),
("Michael", None, None, "M", 4000),
("Robert", None, "Pattinson", "M", 4000),
("Natalie", None, "Portman", "F", 4000),
("Julia", None, "Roberts", "F", 1000)
]
actor_schema = T.StructType([
T.StructField("firstname", T.StringType(), True),
T.StructField("middlename", T.StringType(), True),
T.StructField("lastname", T.StringType(), True),
T.StructField("gender", T.StringType(), True),
T.StructField("salary", T.IntegerType(), True)
])
df = spark.createDataFrame(data=actor_data, schema=actor_schema)
df.show(truncate=False)

+---------+----------+---------+------+------+
|firstname|middlename|lastname |gender|salary|
+---------+----------+---------+------+------+
|James    |NULL      |Bond     |M     |6000  |
|Michael  |NULL      |NULL     |M     |4000  |
|Robert   |NULL      |Pattinson|M     |4000  |
|Natalie  |NULL      |Portman  |F     |4000  |
|Julia    |NULL      |Roberts  |F     |1000  |
+---------+----------+---------+------+------+

In [10]:
import pandas as pd
df.dropna(axis=1, how="all")

TypeError: DataFrame.dropna() got an unexpected keyword argument 'axis'