In [13]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit,explode,flatten,concat_ws
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [3]:
arrayArrayData = [("Abhishek", [["Java", "scala", "perl"], ["spark","java"]]),
("Nitya", [["spark", "java", "c++"], ["spark", "java"]]),
("Sandeep", [["csharp", "vb"], ["spark", "python"]])]

In [4]:
df = spark.createDataFrame(data = arrayArrayData, schema =['name','subjects'])

In [5]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- subjects: array (nullable = true)
 |    |-- element: array (containsNull = true)
 |    |    |-- element: string (containsNull = true)

# EXPLODE

In [6]:
df.select(df.name, explode(df.subjects)).show(truncate=False)

+--------+-------------------+
|name    |col                |
+--------+-------------------+
|Abhishek|[Java, scala, perl]|
|Abhishek|[spark, java]      |
|Nitya   |[spark, java, c++] |
|Nitya   |[spark, java]      |
|Sandeep |[csharp, vb]       |
|Sandeep |[spark, python]    |
+--------+-------------------+

# FLATTEN

In [7]:
df1 = df.select(df.name, flatten(df.subjects).alias('sub')).show(truncate=False)

+--------+--------------------------------+
|name    |sub                             |
+--------+--------------------------------+
|Abhishek|[Java, scala, perl, spark, java]|
|Nitya   |[spark, java, c++, spark, java] |
|Sandeep |[csharp, vb, spark, python]     |
+--------+--------------------------------+

In [16]:
df.createOrReplaceTempView("student")

In [24]:
from pyspark.sql.functions import col, concat_ws

In [30]:
spark.sql("select name, concat_ws(',',flatten(subjects)) as subjects from student") \
    .show(truncate=False)

+--------+--------------------------+
|name    |subjects                  |
+--------+--------------------------+
|Abhishek|Java,scala,perl,spark,java|
|Nitya   |spark,java,c++,spark,java |
|Sandeep |csharp,vb,spark,python    |
+--------+--------------------------+