In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit,explode,flatten,concat_ws
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [2]:
data = [["1", "sravan", "company 1"],
["2", "ojaswi", "company 1"],
["3", "rohith", "company 2"],
["4", "sridevi", "company 1"],
["1", "sravan", "company 1"],
["4", "sridevi", "company 1"]]
columns = ['ID', 'NAME', 'Company']
dataframe = spark.createDataFrame(data, columns)

In [3]:
dataframe.show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  1| sravan|company 1|
|  4|sridevi|company 1|
+---+-------+---------+

# filter rows in dataframe where ID =1

In [4]:
dataframe.where(col("ID")=='1').show()

+---+------+---------+
| ID|  NAME|  Company|
+---+------+---------+
|  1|sravan|company 1|
|  1|sravan|company 1|
+---+------+---------+

In [5]:
dataframe.filter(dataframe.ID>'3').show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  4|sridevi|company 1|
|  4|sridevi|company 1|
+---+-------+---------+