In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [4]:
#dataframe 1
data = [["1", "sravan", "company 1"],
["2", "ojaswi", "company 1"],
["3", "rohith", "company 2"],
["4", "sridevi", "company 1"],
["5", "bobby", "company 1"]]
columns = ['ID', 'NAME', 'Company']
dataframe = spark.createDataFrame(data, columns)

#dataframe 2
data1 = [["1", "45000", "IT"],
["2", "145000", "Manager"],
["6", "45000", "HR"],
["5", "34000", "Sales"]]
columns = ['ID', 'salary', 'department']
dataframe1 = spark.createDataFrame(data1, columns)

In [8]:
dataframe.show()
dataframe1.show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  1| sravan|company 1|
|  2| ojaswi|company 1|
|  3| rohith|company 2|
|  4|sridevi|company 1|
|  5|  bobby|company 1|
+---+-------+---------+

+---+------+----------+
| ID|salary|department|
+---+------+----------+
|  1| 45000|        IT|
|  2|145000|   Manager|
|  6| 45000|        HR|
|  5| 34000|     Sales|
+---+------+----------+

In [7]:
dataframe.join(dataframe1,dataframe.ID==dataframe1.ID,"inner").show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1|sravan|company 1|  1| 45000|        IT|
|  2|ojaswi|company 1|  2|145000|   Manager|
|  5| bobby|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

outer: dataframe1.join(dataframe2,dataframe1.column_name == dataframe2.column_name,”outer”)


full: dataframe1.join(dataframe2,dataframe1.column_name == dataframe2.column_name,”full”)


fullouter: dataframe1.join(dataframe2,dataframe1.column_name ==
dataframe2.column_name,”fullouter”)

In [9]:
data = [["1", "Nitya", "company 1"],
["2", "Ramesh", "company 1"],
["3", "Abhishek", "company 2"],
["4", "Sandeep", "company 1"],
["5", "Manisha", "company 1"]]
columns = ['ID', 'NAME', 'Company']
dataframe = spark.createDataFrame(data, columns)
data1 = [["1", "45000", "IT"],
["2", "145000", "Manager"],
["6", "45000", "HR"],
["5", "34000", "Sales"]]
columns = ['ID', 'salary', 'department']
dataframe1 = spark.createDataFrame(data1, columns)

In [11]:
dataframe.join(dataframe1, dataframe.ID == dataframe1.ID,"full").show()

+----+--------+---------+----+------+----------+
|  ID|    NAME|  Company|  ID|salary|department|
+----+--------+---------+----+------+----------+
|   1|   Nitya|company 1|   1| 45000|        IT|
|   2|  Ramesh|company 1|   2|145000|   Manager|
|   3|Abhishek|company 2|null|  null|      null|
|   4| Sandeep|company 1|null|  null|      null|
|   5| Manisha|company 1|   5| 34000|     Sales|
|null|    null|     null|   6| 45000|        HR|
+----+--------+---------+----+------+----------+

In [14]:
data = [["1", "Amit", "company 1"],
["2", "Rakesh", "company 1"],
["3", "Abhishek", "company 2"],
["4", "Sri", "company 1"],
["5", "Sachin", "company 1"]]
columns = ['ID', 'NAME', 'Company']
dataframe = spark.createDataFrame(data, columns)
dataframe.show()
data1 = [["1", "45000", "IT"],
["2", "145000", "Manager"],
["6", "45000", "HR"],
["5", "34000", "Sales"]]
columns = ['ID', 'salary', 'department']
dataframe1 = spark.createDataFrame(data1, columns)
dataframe1.show()

+---+--------+---------+
| ID|    NAME|  Company|
+---+--------+---------+
|  1|    Amit|company 1|
|  2|  Rakesh|company 1|
|  3|Abhishek|company 2|
|  4|     Sri|company 1|
|  5|  Sachin|company 1|
+---+--------+---------+

+---+------+----------+
| ID|salary|department|
+---+------+----------+
|  1| 45000|        IT|
|  2|145000|   Manager|
|  6| 45000|        HR|
|  5| 34000|     Sales|
+---+------+----------+

In [15]:
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID,"left").show()

+---+--------+---------+----+------+----------+
| ID|    NAME|  Company|  ID|salary|department|
+---+--------+---------+----+------+----------+
|  1|    Amit|company 1|   1| 45000|        IT|
|  2|  Rakesh|company 1|   2|145000|   Manager|
|  3|Abhishek|company 2|null|  null|      null|
|  4|     Sri|company 1|null|  null|      null|
|  5|  Sachin|company 1|   5| 34000|     Sales|
+---+--------+---------+----+------+----------+

In [16]:
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID,"right").show()

+----+------+---------+---+------+----------+
|  ID|  NAME|  Company| ID|salary|department|
+----+------+---------+---+------+----------+
|   1|  Amit|company 1|  1| 45000|        IT|
|   2|Rakesh|company 1|  2|145000|   Manager|
|null|  null|     null|  6| 45000|        HR|
|   5|Sachin|company 1|  5| 34000|     Sales|
+----+------+---------+---+------+----------+

# LEFTSEMI JOIN

This join will all rows from the first dataframe and return only matched rows from the second
dataframe

In [18]:
data = [["1", "Mitchell", "company 1"],
["2", "Rachin", "company 1"],
["3", "Kuldeep", "company 2"],
["4", "Rahul", "company 1"],
["5", "Thomas", "company 1"]]
columns = ['ID', 'NAME', 'Company']
dataframe = spark.createDataFrame(data, columns)
dataframe.show()
data1 = [["1", "45000", "IT"],
["2", "145000", "Manager"],
["6", "45000", "HR"],
["5", "34000", "Sales"]]
columns = ['ID', 'salary', 'department']
dataframe1 = spark.createDataFrame(data1, columns)
dataframe1.show()

+---+--------+---------+
| ID|    NAME|  Company|
+---+--------+---------+
|  1|Mitchell|company 1|
|  2|  Rachin|company 1|
|  3| Kuldeep|company 2|
|  4|   Rahul|company 1|
|  5|  Thomas|company 1|
+---+--------+---------+

+---+------+----------+
| ID|salary|department|
+---+------+----------+
|  1| 45000|        IT|
|  2|145000|   Manager|
|  6| 45000|        HR|
|  5| 34000|     Sales|
+---+------+----------+

In [19]:
# data from left table only but the matched records from both the tables.
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID,"leftsemi").show()

+---+--------+---------+
| ID|    NAME|  Company|
+---+--------+---------+
|  1|Mitchell|company 1|
|  2|  Rachin|company 1|
|  5|  Thomas|company 1|
+---+--------+---------+

In [20]:
# data from left table only but the non-matched records from both the tables.
dataframe.join(dataframe1,dataframe.ID == dataframe1.ID,"leftanti").show()

+---+-------+---------+
| ID|   NAME|  Company|
+---+-------+---------+
|  3|Kuldeep|company 2|
|  4|  Rahul|company 1|
+---+-------+---------+