# SELECT TOP N ROWS FROM EACH GROUP

In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [2]:
sampledata = (("Nitya", "Sales", 3000), \
("Abhi", "Sales", 4600), \
("Rakesh", "Sales", 4100), \
("Sandeep", "finance", 3000), \
("Abhishek", "Sales", 3000), \
("Shyan", "finance", 3300), \
("Madan", "finance", 3900), \
("Jarin", "marketing", 3000), \
("kumar", "marketing", 2000))

columns =["employee_name","department","Salary"]
df=spark.createDataFrame(data = sampledata, schema=columns)

In [3]:
df.show()

+-------------+----------+------+
|employee_name|department|Salary|
+-------------+----------+------+
|        Nitya|     Sales|  3000|
|         Abhi|     Sales|  4600|
|       Rakesh|     Sales|  4100|
|      Sandeep|   finance|  3000|
|     Abhishek|     Sales|  3000|
|        Shyan|   finance|  3300|
|        Madan|   finance|  3900|
|        Jarin| marketing|  3000|
|        kumar| marketing|  2000|
+-------------+----------+------+

In [35]:
from pyspark.sql import Window
from pyspark.sql.functions import *
windowpartition = Window.partitionBy("department").orderBy("Salary")
df1=df.withColumn("row_num",row_number().over(windowpartition))
df1.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- Salary: long (nullable = true)
 |-- row_num: integer (nullable = false)

In [38]:
df1.filter(df1.row_num<=2).show()

+-------------+----------+------+-------+
|employee_name|department|Salary|row_num|
+-------------+----------+------+-------+
|        Nitya|     Sales|  3000|      1|
|     Abhishek|     Sales|  3000|      2|
|      Sandeep|   finance|  3000|      1|
|        Shyan|   finance|  3300|      2|
|        kumar| marketing|  2000|      1|
|        Jarin| marketing|  3000|      2|
+-------------+----------+------+-------+