# DROP DUPLICATE RECORD

In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [2]:
sample_data = ([1, "ramesh", 1000], [2, "Krishna", 2000], [3, "Shri", 3000], [4, "Pradip",
4000],
[1, "ramesh", 1000], [2, "Krishna", 2000], [3, "Shri", 3000], [4, "Pradip",
4000])
columns = ["id", "name", "salary"]

In [3]:
df = spark.createDataFrame(data = sample_data, schema= columns)
df.show()

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1| ramesh|  1000|
|  2|Krishna|  2000|
|  3|   Shri|  3000|
|  4| Pradip|  4000|
|  1| ramesh|  1000|
|  2|Krishna|  2000|
|  3|   Shri|  3000|
|  4| Pradip|  4000|
+---+-------+------+

In [4]:
df.distinct().show()

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1| ramesh|  1000|
|  2|Krishna|  2000|
|  3|   Shri|  3000|
|  4| Pradip|  4000|
+---+-------+------+

In [5]:
df.dropDuplicates().show()

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1| ramesh|  1000|
|  2|Krishna|  2000|
|  3|   Shri|  3000|
|  4| Pradip|  4000|
+---+-------+------+

In [6]:
df.select(["id","name"]).distinct().show()

+---+-------+
| id|   name|
+---+-------+
|  1| ramesh|
|  2|Krishna|
|  3|   Shri|
|  4| Pradip|
+---+-------+