In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit,explode,flatten,concat_ws
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [2]:
data = [(1, "Abhishek", "10|30|40"),
(2, "Krishna", "50|40|70"),
(3, "rakesh", "20|70|90")]
df = spark.createDataFrame(data, schema=["id", "name", "marks"])
df.show()

+---+--------+--------+
| id|    name|   marks|
+---+--------+--------+
|  1|Abhishek|10|30|40|
|  2| Krishna|50|40|70|
|  3|  rakesh|20|70|90|
+---+--------+--------+

In [3]:
from pyspark.sql.functions import split, col

In [5]:
df_s = df.withColumn("mark_details",split(col('marks'),"[|]"))\
.withColumn("maths",col('mark_details')[0])\
.withColumn("physics",col('mark_details')[1])\
.withColumn("chemistry",col('mark_details')[2])

In [6]:
df_s.show()

+---+--------+--------+------------+-----+-------+---------+
| id|    name|   marks|mark_details|maths|physics|chemistry|
+---+--------+--------+------------+-----+-------+---------+
|  1|Abhishek|10|30|40|[10, 30, 40]|   10|     30|       40|
|  2| Krishna|50|40|70|[50, 40, 70]|   50|     40|       70|
|  3|  rakesh|20|70|90|[20, 70, 90]|   20|     70|       90|
+---+--------+--------+------------+-----+-------+---------+