In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [2]:
americans = spark.createDataFrame([("bob",42),("lisa",59)],["first_name","age"])
colombians = spark.createDataFrame([("maria",20),("camilo",31)],["first_name","age"])

In [3]:
#UNION
res = americans.union(colombians)
res.show()

+----------+---+
|first_name|age|
+----------+---+
|       bob| 42|
|      lisa| 59|
|     maria| 20|
|    camilo| 31|
+----------+---+

In [4]:
details = [(1, 'Krishna', 'IT', 'male')]
column = ['id', 'name', 'department', 'gender']
details1 = [(1, 'Krishna', 'IT', 10000)]
column = ['id', 'name', 'department', 'salary']
df1 = spark.createDataFrame(details, column)
df2 = spark.createDataFrame(details1, column)
df1.show()
df2.show()

+---+-------+----------+------+
| id|   name|department|salary|
+---+-------+----------+------+
|  1|Krishna|        IT|  male|
+---+-------+----------+------+

+---+-------+----------+------+
| id|   name|department|salary|
+---+-------+----------+------+
|  1|Krishna|        IT| 10000|
+---+-------+----------+------+

In [5]:
df1.union(df2).show()

+---+-------+----------+------+
| id|   name|department|salary|
+---+-------+----------+------+
|  1|Krishna|        IT|  male|
|  1|Krishna|        IT| 10000|
+---+-------+----------+------+

In [6]:
data_frame1 = spark.createDataFrame(
[("Nitya", 82.98), ("Abhishek", 80.31)],
["Student Name", "Overall Percentage"]
)

data_frame2 = spark.createDataFrame(
[("Sandeep", 91.123), ("Rakesh", 90.51)],
["Student Name", "Overall Percentage"]
)

In [7]:
UnionExp = data_frame1.union(data_frame2)
UnionExp.show()

+------------+------------------+
|Student Name|Overall Percentage|
+------------+------------------+
|       Nitya|             82.98|
|    Abhishek|             80.31|
|     Sandeep|            91.123|
|      Rakesh|             90.51|
+------------+------------------+

In [8]:
data_frame1 = spark.createDataFrame(
[("Nitya", 82.98), ("Abhishek", 80.31)],
["Student Name", "Overall Percentage"]
)
# Creating another data frame
data_frame2 = spark.createDataFrame(
[(91.123, "Naveen"), (90.51, "Sandeep"), (87.67, "Rakesh")],
["Overall Percentage", "Student Name"]
)

# Union both the dataframes using unionByName() method
byName = data_frame1.unionByName(data_frame2)
byName.show()

+------------+------------------+
|Student Name|Overall Percentage|
+------------+------------------+
|       Nitya|             82.98|
|    Abhishek|             80.31|
|      Naveen|            91.123|
|     Sandeep|             90.51|
|      Rakesh|             87.67|
+------------+------------------+

In [9]:
data_frame1 = spark.createDataFrame(
[("Bhuwanesh", 82.98, "Computer Science"), ("Harshit", 80.31, "Information Technology")],
["Student Name", "Overall Percentage", "Department"]
)
# Creating another dataframe
data_frame2 = spark.createDataFrame( [("Naveen", 91.123), ("Piyush", 90.51)],
                                     ["Student Name", "Overall Percentage"] )

# Union both the dataframes using unionByName() method
column_name_morein1df = data_frame1.unionByName(data_frame2, allowMissingColumns=True)
column_name_morein1df.show(truncate=False)

+------------+------------------+----------------------+
|Student Name|Overall Percentage|Department            |
+------------+------------------+----------------------+
|Bhuwanesh   |82.98             |Computer Science      |
|Harshit     |80.31             |Information Technology|
|Naveen      |91.123            |null                  |
|Piyush      |90.51             |null                  |
+------------+------------------+----------------------+