In [1]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import col,lit
from pyspark import SQLContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.driver.host", "localhost").appName("SparkByExamples.com").getOrCreate()
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.config(conf=conf).getOrCreate()

In [2]:
data = [["1", "Manoj", "company 1"],
["2", "Manisha", "company 1"],
["3", "RAmisha", "company 2"],
["4", "Sri", "company 1"],
["5", "RAkesh", "company 1"]]
columns = ['ID', 'NAME', 'Company']
dataframe = spark.createDataFrame(data, columns)
data1 = [["1", "45000", "IT"],
["2", "145000", "Manager"],
["6", "45000", "HR"],
["5", "34000", "Sales"]]
columns = ['ID', 'salary', 'department']
# creating a dataframe from the lists of data
dataframe1 = spark.createDataFrame(data1, columns)
# create a view for dataframe named student
dataframe.createOrReplaceTempView("student")
# create a view for dataframe1 named department
dataframe1.createOrReplaceTempView("department")

In [4]:
#use sql expression to select ID column
spark.sql("select * from student, department where student.ID == department.ID").show()

+---+-------+---------+---+------+----------+
| ID|   NAME|  Company| ID|salary|department|
+---+-------+---------+---+------+----------+
|  1|  Manoj|company 1|  1| 45000|        IT|
|  2|Manisha|company 1|  2|145000|   Manager|
|  5| RAkesh|company 1|  5| 34000|     Sales|
+---+-------+---------+---+------+----------+